@use "../abstracts/" as *;

.btn {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 12px;
  color: $white;
  width: 100%;
  align-self: center;
  cursor: pointer;
  font-size: $font-size-14;

  &--primary {
    background-color: $primary-soft-blue;
    border: 2px solid $primary-soft-blue;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $primary-soft-blue;
    }
  }

  &--light {
    color: $neutral-dark-grayish;
    background-color: $primary-light-gray;
    border: 2px solid $primary-light-gray;
    font-weight: 500;
    transition: border 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: transparent;
      border: 2px solid $neutral-dark-grayish;
      color: $neutral-dark-grayish;
    }
  }

  &--danger {
    color: $white;
    background-color: $primary-soft-red;
    border: 2px solid $primary-soft-red;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: $white;
      color: $primary-soft-red;
    }
  }

  &--default {
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $primary-soft-red;
    }
  }

  &--text-only {
    background: none;
    border: none;
    color: $neutral-very-dark-blue;
  }
}
