@use "../abstracts/" as *;

.nav-toggle {
  opacity: 0;
  width: 1;
  height: 1;
  position: absolute;
  left: -10000px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__nav-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  bottom: 0;
  background-color: rgba($neutral-very-dark-blue, 0.9);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.5s ease-out;
  color: $white;
  /*opacity: 0;
  top: -10000px;
  transform: scale(0, 0);*/
}

.nav-toggle:checked ~ .header__nav-container {
  transform: scale(1, 1);
  bottom: 0;
  top: 0;
  z-index: 2;
}

.header__nav-container-list-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list-item {
  padding: 1em 0;
  border-top: 1px solid white;
}

.btn--danger {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em 0;
  font-weight: 500;
}

.nav-socials {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-socials__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-socials__link-item {
  margin: 0 1em;
}

/*
.nav-toggle:checked ~ .header__nav-container {
  transform: scale(1, 1);
  position: relative;
  opacity: 1;
  top: 0;
  background-color: gray;
}*/
