@use "../abstracts/" as *;

body {
  font-family: "Rubik", sans-serif;
  color: $neutral-very-dark-blue;
  font-weight: 400;
  font-size: $body-font-size;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;

  li {
    letter-spacing: 2px;
  }
}

h1 {
  margin-top: 2em;
  font-weight: 500;
  font-size: $font-size-30;
}

h2 {
  font-size: $font-size-26;
}

h3 {
  margin: 0;
  letter-spacing: 1px;
}

p {
  color: $neutral-grayish-blue;
  line-height: 1.6;
  font-size: $font-size-16;
}

input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 1.25em;
}

::placeholder {
  color: $neutral-grayish-blue;
}

:-ms-input-placeholder {
  color: $neutral-grayish-blue;
}

.hide-acc {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: -10000px;
  transition: all 0.3s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: block;
}

svg {
  fill: white;
}
