@use "../abstracts/" as *;

.text-uppercase {
  text-transform: uppercase;
}

.container {
  padding: 38px 32px;
}

.color-white {
  color: $white;
}

.text-align-center {
  text-align: center;
}

.font-size-14 {
  font-size: $font-size-14;
}

.font-size-16 {
  font-size: $font-size-16;
}

.box-shadow-bottom {
  box-shadow: 0 7px 10px -6px $neutral-grayish-blue;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-0 {
  margin: 0;
}

.margin-0-2-5 {
  margin: 0.25em;
}

.margin-top-1-5 {
  margin-top: 1.5em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-top-5 {
  margin-top: 5em;
}

.margin-bottom-0-3-5 {
  margin-bottom: 0.35em;
}

.margin-bottom-1-5 {
  margin-bottom: 1.5em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-top-1 {
  border-top: 1px solid;
}

.border-bottom-1 {
  border-bottom: 1px solid;
}

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 1.25em;
}

.padding-2 {
  padding: 2em;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-top-5 {
  padding-top: 5em;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-450 {
  max-width: 450px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-550 {
  max-width: 550px;
}

.max-width-920 {
  max-width: 920px;
}

.max-width-1200 {
  max-width: 1200px;
}

.width-full {
  width: 100%;
}

.translate-y-15 {
  transform: translateY(15%);
}

.translate-y-25 {
  transform: translateY(25%);
}

.bg-color-soft-blue {
  background-color: $primary-soft-blue;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.height-full {
  height: 100%;
}

@media (max-width: 1000px) {
  .padding-tb-2-mobile {
    padding: 2em 0;
  }
}

@media (min-width: 1000px) {
  .text-align-left-desktop {
    text-align: left;
  }

  .max-width-200-desktop {
    max-width: 200px;
  }

  .margin-bottom-0-desktop {
    margin-bottom: 0;
  }
}
