/* colors */
$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);

$primary-light-gray: hsl(0, 0%, 97%);

$neutral-grayish-blue: hsl(229, 8%, 60%);
$neutral-very-dark-blue: hsl(229, 31%, 21%);
$neutral-dark-grayish: hsl(244, 7%, 41%);

$white: hsl(0, 0%, 100%);

/* font size base font size- 16px*/
$font-size-30: 1.9rem; /*30px*/
$font-size-26: 1.625rem; /*26px*/
$body-font-size: 1.125rem; /*18px*/
$font-size-16: 1rem; /*16px*/
$font-size-14: 0.875rem; /*14px*/
